<nav>
    <div class = "site-title">
        <a href="/"><h1>A Smile a Day</h1></a>
        <p>Where the most important part is you</p>
    </div>
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/about">About page</a></li>
        <li><a href="/chats">View existing chat rooms</a></li>
        <li><a href="/chats/create">Create a chatroom</a></li>
    </ul>
</nav>