<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class = "about content"> 
        <h2>About us</h2>
        <p>We connect community because no one should go through mental blocks alone</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>


</html>